/*
https://paletadecolores.com.ar/paleta/f9ded3/fdd1b6/fab4b6/c7b6be/89abb4/
*/

:root {
    --color-rosado-claro: #f9ded3;
    --color-rosado-medio: #fdd1b6;
    --color-rosado-intenso: #fab4b6;
    --color-malva: #c7b6be;
    --color-azulado: #89abb4;

    --color1: #5f3711;
    --color2:  #d4c098;
    --color3:  #e2d5c1;
    --color4:   #f6f6e2;
    --color5:#f7f6e4;
  }
  