@import "./colors.css";

.contacto-container {
  width: 75%;
  max-width: 900px;
  margin: 40px auto;
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 8px var(--color2);
}

.contacto-container h2 {
  text-align: center;
  color: var(--color1);
  margin-bottom: 24px;
  margin-top: auto;
}

.formulario-contacto .campo {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: var(--color5);
  padding: 8px 12px;
  border-radius: 8px;
}

.campo input,
.campo textarea {
  border: none;
  background: transparent;
  flex: 1;
  padding: 6px;
  font-size: 16px;
  outline: none;
  color: var(--color1);
}

.campo.textarea {
  align-items: flex-start;
}

.textarea textarea {
  resize: vertical;
  min-height: 60px;
  max-height: 120px;
}

.icono {
  color: var(--color1);
  margin-right: 10px;
  font-size: 18px;
}

.btn-enviar {
  width: 100%;
  background-color: var(--color3);
  color:  var(--color1);
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-enviar:hover {
  background-color: var(--color1);
  color: var(--color3);
}