@import "../styles/colors.css";

.card {
  background-color: white;
  width: 250px;
  height: 420px;
  border-radius: 15px;
  box-shadow: 0 2px 8px var(--color2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
  margin: 12px;
}

.card:hover {
  transform: translateY(-5px);
}

.imgContainer {
  width: 100%;
  height: 180px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white;
}

.nombre{
    font-size: 18px;
    font-weight: 600;
    color: var(--color1);
    margin-bottom: 4px;
    text-align: center;

}

.precio{
    font-size: 20px;
    font-weight: 700;
    color: var(--color1);
    margin-bottom: 4px;
}

.stock{
    font-size: 13px;
    color: #666666;
    margin-bottom: 12px;
}

.cantidadContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: var(--color2);
}

.tarjeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn-agregar {
  background-color: var(--color3);
  color: var(--color1);
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn-agregar:hover {
  background-color: var(--color1);
    color: var(--color3);
}

.btn-agregar:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* Botones de cantidad */
.qtyButton {
  background-color: #f1f5f9;
  color: #111827;
  border: 1px solid #d1d5db;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.qtyButton:hover {
  background-color: #e2e8f0;
}

.qtyButton:disabled {
  background-color: #e5e7eb;
  cursor: not-allowed;
}